.title {
  font-size: 20px;
  font-weight: bold;
}

.userInfo {
  cursor: pointer;
  background-color: beige;
  color: black;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 480px) {
  .title {
    font-size: 15px;
  }

  .userInfo {
    height: 40px;
  }
}
